.time{
    width: 30px;
}
textarea{
    min-width: 50% !important;
}
li{
    list-style: none;
    padding: 10px;
    background-color: rgb(194, 199, 203);
    color: rgb(32, 20, 22);
    margin-top: 50px;
    border-radius: 5px;
    transform: rotate(-180deg);
}
ul{
    transform: rotate(180deg);
}
li:first-child{
    background-color: white;
}
.content{
    font-size: 1rem;
}
.stat-true{
    display: block;
}
.stat-false{
    display:none;
}
.project{
    margin-right: 5px;
}
