<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Status Report</title>
        <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->

        <!-- <script src="js/underscore.js" charset="utf-8"></script>-->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
        <link rel="stylesheet" href="assets/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="apis/allData.json" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="assets/js/status.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="container report" ng-app="DailyStatus">
            <div ng-controller="DailyStatusReport as status">
                <h2>Status Report</h2>
                <div class="form">
                    <form ng-submit="addDetails()" id="statForm">
                    <span>
                        <select class="" ng-model="date1">
                            <option value="" disabled selected>Select date</option>
                            <option  ng-repeat = "date in date">{{date.title}}</option>
                        </select>
                        <select class="projects" ng-model="project" required ng-options = "project as project.name for project in statusList.projects">
                        </select>
                        <select class="activity" ng-model="activity" required
                                ng-options = "activity as activity.name for activity in statusList.activities">

                        </select>
                        <select class="time" ng-model = "hourWork">
                            <option value="" disabled selected>Hour</option>
                            <option  ng-repeat = "hour in hour">{{hour.value}}</option>
                        </select>
                        <select class="time" ng-model = "minsWork">
                            <option value="" disabled selected>Mins</option>
                            <option  ng-repeat = "min in mins">{{min.value}}</option>
                        </select>
                    </span>

                        <div>
                            <textarea class="details" rows="5" ng-model="details"placeholder="Please enter the details" required></textarea>
                        </div>
                        <input type="submit" class="btn btn-success" value="submit">
                    </form>
                </div>
                <div class="results">
                    <h2>My History</h2>
                    <ul class="">
                        <li ng-repeat="report in statusList.report">
                            <div class="row">
                                <div class="col2">
                                    <p>end-of-day</p>
                                    <p>{{report.date1}}</p>
                                    <span>{{report.workHour}}</span>
                                    <span>{{report.workMin}}</span>
                                </div>
                                <div class="col8">
                                    <p class="content">
                                        {{report.details}}
                                    </p>

                                </div>
                                <div class="col2">
                                    <p class="content1">
                                        <span class="project">{{report.project}}</span>
                                        <p class="content1">{{report.activity}}</p>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
