.time{
    width: 60px;
}
#loader-wrapper {
    background: #e2e2e2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.preloader {
  margin: -15px 0 0 -15px;
  left: 50%;
  top: 50%;
  z-index: 2001;
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #3399cc;
  animation: preloader_center 1.0s infinite linear;
}

.preloader:after {
  content: " ";
  display: block;
  position: absolute;
  top: -22px;
  left: -22px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 7px solid #2C3E50;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: preloader_wings 1.0s infinite linear;
}

@keyframes preloader_center {
  50% { background: #2C3E50 }
}

@keyframes preloader_wings {
  0%  { transform: rotate(0deg) }
  50% { border-top-color: #3399cc; border-bottom-color: #3399cc; transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
textarea{
    min-width: 50% !important;
}
li{
    list-style: none;
    padding: 10px;
    background-color: rgb(233, 244, 233);
    border:1px solid rgba(24, 40, 38, 0.43);
    margin-top: 50px;
    transform: rotate(-180deg);
    margin-right: -25px;
}
ul{
    transform: rotate(180deg);
    margin-top: -30px;
}
.content{
    font-size: 1rem;
}
.content1{

    padding-left: 10px;
}

.project{
    margin-right: 5px;
}
.form{
    background-color: rgb(233, 244, 233);
    border: 1px solid rgba(24, 40, 38, 0.43);
    padding: 20px;
    margin-top: 15px;
}
.report{
    padding: 10px;
    box-shadow: 2px green;
    border: 1px solid rgba(185, 194, 176, 0.49);
    margin-top: 20px;
}
h2{
    text-align: center;
}
.row{
    width: 100%;
    margin-left: 0px;
}
.col2{
    width: 15%;
    float: left;
    padding-top: 15px;
}
.col8{
    width: 65%;
    float: left;
    border-left: 1px solid rgba(179, 172, 193, 0.69);
    padding: 10px;
    border-right: 1px solid rgba(179, 172, 193, 0.69);
}
.results{
    padding-top: 15px;
}
.time{
    width: 70px;
}
